<!DOCTYPE html>
<html>
<head>
    <title>Menú Principal</title>
</head>
<body>
    <h1>Menú Principal</h1>
    <ul>
        <li><a href="/register_card">Registrar una Tarjeta de Crédito</a></li>
        <li><a href="/simulate_purchase">Simular una Compra</a></li>
        <li><a href="/save_money_plan">Plan de ahorro</a></li>
        <li><a href="/register_purchase">Registrar compra </a></li>
        <li><a href="/payment_schedule">Programación de pagos</a></li>
        <li><a href="/delete_card">Eliminar tarjeta </a></li>
    </ul>
</body>
</html>
